<h1>Hello world from hello!</h1>
<%= 1 + 1 %>   <br>

<% target = 'world' %>
<%= "Hello #{target}" %>
<br>
<%= @array.each do |n| %>
    <%= n * 2 %><br>
<% end %>

<br/>

<%= link_to('Hello page 2', {:action => 'index'}) %> <br/>
